body {
  background: linear-gradient(to right bottom,
      rgb(56, 56, 56),
      rgb(109, 109, 109));
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  overflow-x: hidden;
}

/* box-search config */

.box-search,
.box-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 500px;
  background-color: gray;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 8px;
  box-sizing: border-box;
}

.box-search #title {
  color: white;
}

.box-search .box-input {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.box-search .box-input #search {
  width: 65%;
  padding-left: 15px;
  font-size: 12pt;
  border-radius: 20px;
  border: none;
}

.box-search .box-input #button-search {
  cursor: pointer;
  display: flex;
  padding: 3px;
  background-color: #1eff3c;
  border: none;
  border-radius: 50%;
}

.box-search .box-input #button-search:hover {
  box-shadow: 1px 1px 3px rgb(0, 0, 0);
}

/* box-profile config */

.box-profile {
  display: none;
  margin: 0;
  border-bottom: 10px solid #1eff3c;
  background-color: white;
}

.box-profile .box-image {
  width: 200px;
  margin: 30px;
}

.box-profile .box-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.box-profile .container-informations {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.box-profile .container-informations .box-info,
.box-profile #bio {
  text-align: center;
}

footer,
footer>a {
  color: #1eff3c;
}

footer {
  padding: 10px;
  font-size: 1.1em;
}